@model WeatherModel
@{
    ViewData["Title"] = "Weather";
    var pressureClassName = "bg-success";
    var WeatherClassName = "sun";
    @if (Model.WeatherSynoptic.Pressure > 1000)
    {
        pressureClassName = "bg-danger";
    }
    @if (Model.WeatherSynoptic.TotalPrecipitation > 0)
    {
        WeatherClassName = "cloud";
    }
}
<div class="weather-wrapper">
    <div class="weather-card @Model.WeatherSynoptic.StationName">
        <div class="weather-icon @WeatherClassName"></div>
        <h1>@Model.WeatherSynoptic.Temp º</h1>
        <p>@Model.WeatherSynoptic.StationName</p>
    </div>
    <div class="weather-card @Model.WeatherHydro.River">
        <div class="weather-icon @WeatherClassName"></div>
        <h1>@Model.WeatherHydro.Temp º</h1>
        <p>@Model.WeatherHydro.River</p>
    </div>

    <div class="weather-card @pressureClassName">
        <h1>@Model.WeatherSynoptic.Pressure</h1>
        <p>Ciśnienie</p>
    </div>

    <div class="weather-card">
        <h1>@Model.WeatherSynoptic.WindSpeed m/s</h1>
        <p>Wiatr</p>
    </div>
</div>
